
process.executor = 'local'
process.cpus = 2
process.memory = '4 GB'
apptainer.enabled = true
apptainer.autoMounts = true
apptainer.cacheDir = "${VSC_SCRATCH}/.apptainer_cache"

process {
    withLabel: 'R' {
        container = 'community.wave.seqera.io/library/r-ctrdata_r-dbi_r-dplyr_r-duckdb_pruned:7bf0df866893c97c'
        //publishDir = [path: "${params.outdir}",
         //            mode:'copy']
    }
}

profiles {
    HPC {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '4 GB'
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "$VSC_SCRATCH/.apptainer_cache"
        docker.enabled = true
    }
}