
apptainer.enabled = true
apptainer.autoMounts = true
apptainer.cacheDir = "$VSC_SCRATCH/.apptainer_cache"



profiles {
    HPC {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '4 GB'
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "$VSC_SCRATCH/.apptainer_cache"
        docker.enabled = true
    }
}